.rodape {
    padding:1em;
}
.lista-rodape {
    display:none;
}



@media screen and (min-width:1024px) {
    .rodape {
        display:flex;
        justify-content:space-around;
    }
    .lista-rodape {
        display:block;
    }
    .lista-rodape__titulo {
        margin:1.5em;
        font-size:18px;
        font-weight:600;
    }
    .lista-rodape__item {
        margin:6px;
    }
    .lista-rodape__link {
        display:flex;
        align-items:center;
        text-decoration:none;
        color:#333;
        padding:0.6em;
    }
    .lista-rodape__link img {
        padding-right:0.6em;
    }
}